@import url(http://fonts.googleapis.com/earlyaccess/droidsansthai.css);
@font-face {
	font-family: 'rsu';
        src:url('../fonts/RSU_BOLD.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'rsu';
        src:url('../fonts/RSU_Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rsu';
        src: url('../fonts/RSU_light.ttf')  format('truetype');
	font-weight: light;
	font-style: normal;
}